html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

h2{
  text-align: center;
}
input{

  margin-left: 250px;

  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
#rectangle{
  width:618px;
  height:618px;
  background:blue;
  position:relative;
  z-index: 9;
}



body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;

}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
}

table, th, td {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  border-collapse: collapse;
  table-layout: fixed;
  fill: gray;

  position:relative;
  z-index: 9;
}

th, td {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

th:hover.hover, td:hover.hover{
  background-color: rgba(211, 211, 211, 0.29);
}

th:hover.noHover, td:hover.noHover{
  background-color: rgb(255, 255, 255);
}



button {
  border-radius: 12px;
  color: white;
  background-color: #00539F;
  border: #00539F;
  width: 100px;
  margin-left: 250px;
  margin-top: 15px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

